<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Library Management System/src/com/gcit/LibrarySystem/test/JDBCtest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.gcit.LibrarySystem.test.JDBCtest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Library Management System"/>
</launchConfiguration>
